body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
}

header {
  z-index: 100;
  // border-bottom: 1px solid rgba(221, 221, 221, 0.7);
}

#mainElement {
  display: block;
  // min-height: 100vh;
}

a {
  white-space: pre;
}

ul,
li {
  margin: 0;
  list-style: none;
}

/* -------------- Menu Popup -------------- */
.popup {
  display: block;
  position: absolute;
  top: 80%;
  width: 18%;
  right: 3.8%;
  z-index: 40;

  &.higherIndex {
    z-index: 2000;
  }
}

.popup a:hover {
  background-color: rgba(221, 221, 221, 0.3);
}

.navbar-nav a:hover {
  background-color: rgba(221, 221, 221, 0.3);
}

.world_icon {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;

  &:hover {
    background-color: rgba(221, 221, 221, 0.3);
  }
}

#menuBtn {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* -------------- Sub menu ------------ */
.sub-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  max-width: 950px;
  height: 70px;
  z-index: 90;
  background-color: #fff;
  margin: 0.5rem auto 1.2rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
  position: relative;

  &:hover {
    .divider {
      width: 0px;
    }
  }

  &.grayBg {
    background-color: rgba(221, 221, 221, 0.5);
    box-shadow: 0 0 0 transparent;
  }
}

.divider {
  width: 1px;
  height: 30px;
  background-color: rgba(221, 221, 221, 0.8);
}

.filter {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  padding: 0 1.25rem;
  flex: 1 1 21%;

  div {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &:first-of-type {
    flex-basis: 33%;
    padding: 0 1.75rem;
  }

  &:hover {
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 60px;
  }

  &.whiteBg {
    background-color: #fff;
    border-radius: 60px;
    height: 97%;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #fff;
    }
  }
}

.last-filter-wrapper {
  flex-basis: 41%;
  height: 100%;

  &:hover {
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 60px;
  }

  &.whiteBg {
    background-color: #fff;
    border-radius: 60px;
    height: 97%;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    flex-basis: 42%;

    &:hover {
      background-color: #fff;
    }
  }
}

.last-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.9rem;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  padding: 0 0.5rem;
  margin: 0 auto;
  flex-grow: 1;
}

#closeBtn {
  display: none;

  &.showCloseBtn {
    display: flex;
  }

  &:hover {
    background-color: rgba(221, 221, 221, 0.5);
  }
}

#addInfants,
#addPets {
  &.darkText,
  span {
    color: black;
    font-weight: 600;
  }
}

#addGuests {
  color: #717171;

  &.defaultColor {
    color: #717171;
  }

  &.darkText,
  span {
    color: black;
    font-weight: 600;
  }
}

#addPets {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;

  &.hidePets {
    display: none;
  }

  &.darkText {
    color: black;
  }
}

#dottedLines {
  display: none;

  &.showDottedLines {
    display: flex;
    align-items: flex-end;
  }
}

.filter:first-of-type {
  border-left: 0px solid transparent;
}

.last-filter div {
  height: 100%;
  margin-top: -0.75rem;
}

.filter h6,
.last-filter h6 {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.filter p,
.last-filter span {
  color: #717171;
  margin-top: -0.5rem;

  &.boldText {
    color: black;
    font-weight: 700;
    font-size: 0.90rem;
    margin-top: -0.25;
  }
}

.search-icon {
  background-color: #ff385c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease;

  span {
    display: none;
  }

  &.showText {
    background-image: linear-gradient(90deg, #ff385c, #bd1e59);
    width: fit-content;
    padding: 0.5rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 25px;
    color: #fff;

    span {
      display: flex;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

#closeCheckOutBtn,
#closeCheckInBtn,
#closeDesBtn {
  display: none;
  background-color: transparent;

  &:hover {
    background-color: rgba(221, 221, 221, 0.3);
  }

  &.showCloseCheckOutBtn {
    display: flex;
  }
}

#destinationPopup {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.75rem;
  padding: 2rem;
  width: 100%;
  max-width: 410px;
  background-color: #fff;
  border-radius: 30px;

  &.showDestinationPopup {
    display: block;
  }

  h6 {
    font-size: 0.9rem;
  }

  .country {
    &:hover {
      cursor: pointer;
      background-color: rgba(221, 221, 221, 0.5);
    }
  }
}

/* --------------- Guest Popup ------------- */
.popup-guests {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 0.75rem;
  padding: 1rem 2.5rem;
  width: 100%;
  max-width: 410px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);

  .option {
    border-bottom: 1px solid rgba(221, 221, 221, 0.8);

    &:last-of-type {
      border-bottom: 0 transparent;
    }
  }
}

#popUpGuests {
  z-index: 300;

  &.higherIndex {
    z-index: 3000;
  }
}

/* ----------- Modal ------------ */
.modal-header {
  border-bottom: 0 solid transparent;
}

.lang_curr_box {
  padding: 0.75rem;
  cursor: pointer;

  h6 {
    font-size: 0.95rem;
  }

  &:hover {
    background-color: rgba(221, 221, 221, 0.3);
    border-radius: 10px;
  }
}

.nav-link {
  font-size: 0.95rem;
  padding-bottom: 0.75rem;
}
